@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #000;
}

body {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid rgba(227, 221, 221, 0.976);
  /* transition: 0.5s; */
  box-shadow: 0 0 50px rgba(227, 221, 221, 0.976);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: auto;
  padding: 0.25rem;
  border: 1px solid rgb(52, 49, 49);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  border-radius: 0.2rem;
}

input[type="text"],
input[type="password"],
textarea {
  height: 32px;
  width: 100%;
}

input:hover {
  border: 2px solid #0a66c2;
}
input:focus {
  border: 2px solid #0a66c2;
}

label,
button {
  margin-top: 1rem;
  font-size: 0.7rem;
}

button[type="submit"] {
  padding: 0.5rem;
  background-color: #0a66c2;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 22px;
}

label {
  color: rgba(0, 0, 0, 0.6);
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: inherit;
  color: rgba(0, 0, 0, 0.6);
  padding: 0.25rem;
  position: relative;
  bottom: -5px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

input {
  display: flex;
  flex-direction: column;
}

a {
  color: #0073b1;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.25;
  font-weight: 600;
  padding: 0 0 4px 0;
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 20px;
}

.show-button {
  position: relative;
  z-index: 2;
  float: right;
  margin-left: -25px;
  margin-top: -30px;
  border: none;
  font-size: small;
  color: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
}

.show-button:hover {
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.consent-text {
  font-size: 20px;
}

/* https://www.w3schools.com/howto/howto_css_social_login.asp */
